:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: linear-gradient(150deg, $appDarkColor, #6857A5);

}

html, body {
    color: $appColor;
    text-align: left;
    margin: 0
}

.axis--label {
    fill: #D8D8D8;
}
