:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
    background: linear-gradient(150deg, #0A0D14, #6857A5);
    color: $appColor;
    text-align: left;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: left;
}

h2 {
    font-weight: 400;
}

.axis--label {
    fill: #D8D8D8;
}
