:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
    background: linear-gradient(150deg, $appDarkColor, #6857A5);
    color: $appColor;
    text-align: left;
}

.axis--label {
    fill: #D8D8D8;
}
