
// adapted from https://www.codewithrandom.com/2023/02/10/hamburger-menu-html-css-javascript-hamburger-menu-code/
// adapted from https://css-tricks.com/sticky-table-of-contents-with-scrolling-active-states/

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100vw;
}

/* 1. Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}
  
/* 2. Make nav sticky */
main > nav {
    position: sticky;
    top: 40%;
    align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
    color: #333;
    font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
    padding-left: 0;
    border-left: 1px solid #efefef;
    margin-left: 2rem;
}

.section-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #ccc;
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
    color: #fff;
    font-weight: bold;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 1rem;
}

/** page layout **/
main {
    display: grid;
    grid-template-columns: 10rem 1fr;
    // max-width: 100em;
    // margin: auto 10rem;
}

.ChapterContainer {
    padding: 2rem 5rem;
    border-left: 1px solid rgba(203, 203, 203, .50);
    margin-right: 10rem;
}

/*Properties for Hamburger*/  
.ham {
    display: none;  
    padding: 5px;  
    cursor: pointer;  
}

.bar1, .bar2, .bar3 {  
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    transition: 0.4s;  
}

// @media only screen and (max-width:800px) {

//     .navbar {
//         position: absolute;
//         display: flex;  
//         top: 5vh;
//         right: 0;
//         height: 20vh;  
//         justify-content: space-between;  
//         align-items: center;
//         padding: 0px 20px;
//         border-left: none;
//     }

// }

.ChapterContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Row {
    display:grid;
    grid-template-columns: minmax(300px, 33%) 1fr;
}

.ChapterContainer2,
.ChapterContainer3 {
    padding: 5rem 10rem;
}

article {
    max-width: 50vw;
}

@media screen and (max-width: 786px) {

    // * {
    //      overflow:hidden;  
    // }

    main {
        display: grid;
        grid-template-columns: 3rem 1fr;
    }

    article,
    header {
        max-width: 90vw;
    }

    .ChapterContainer {
        padding: 2rem 2rem;
    }

    .nav-change {
        transform:translate(0%);  
    }

    .ham {
        display: block;  
    }

    .change .bar1 {
        transform: rotate(45deg) translate(8px,3px);  
    }

    .change .bar2 {  
        opacity: 0;
    }

    .change .bar3 {  
        transform: rotate(-45deg) translate(8px,-3px);  
    }

    .nav-sub {  
        // position: absolute;
        // top: 8vh;
        // right: 0px;
        // flex-direction: column;
        background-color: rgba(0, 0, 0, .75);
        border: 1px solid rgba(203, 203, 203, .75);
        border-radius: 5px;
        padding: 5px;
        transition: transform 0.3s ease-in;
        transform: translate(30%);
        margin: 0px auto;
        width: 125px;
    }

    .ChapterContainer {
        margin-right: 0;
    }
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: #cbcbcb;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    // position: absolute;
    // left: 0;
    // top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    color: #fff;
    font-weight: bold;
}
