
// adapted from https://www.codewithrandom.com/2023/02/10/hamburger-menu-html-css-javascript-hamburger-menu-code/
// adapted from https://css-tricks.com/sticky-table-of-contents-with-scrolling-active-states/

/** Poor man's reset **/
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100vw;
}

/* 1. Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}
  
/* 2. Make nav sticky */
main > nav {
    position: sticky;
    top: 40%;
    align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
    color: #333;
    font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
    padding-left: 0;
    border-left: 1px solid #efefef;
}

.section-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #ccc;
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
    color: #fff;
    font-weight: bold;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 1rem;
}

/** page layout **/
main {
    display: grid;
    grid-template-columns: 8em 1fr;
    max-width: 100em;
    margin: 0 auto;
}

.ChapterContainer {
    padding: 2rem 5rem;
}



/*Properties for Nav-bar*/

// .nav-sub {
//     display: flex;  
//     flex-direction: column;
//     justify-content: space-between;
//     padding-left: 5px;
// }

// .list-item {
//     padding: 12px;
//     list-style: none;
//     color: $appDarkColor;
//     font-size: .8rem;
//     text-transform: uppercase;
//     letter-spacing: .3px;
// }

// .nav-link {
//     text-decoration: none;
//     background-color: #d7d7d7;
//     padding: 7px 10px;
//     border-radius: 8px;
//     box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 6px 6px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
// }

// /*Properties for Hamburger*/  
.ham {
    display: none;  
    padding: 5px;  
    cursor: pointer;  
}

.bar1, .bar2, .bar3 {  
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    background-color:#d7d7d7;
    transition: 0.4s;  
}

// @media only screen and (max-width:800px) {

//     .navbar {
//         position: absolute;
//         display: flex;  
//         top: 5vh;
//         right: 0;
//         height: 20vh;  
//         justify-content: space-between;  
//         align-items: center;
//         padding: 0px 20px;
//         border-left: none;
//     }

// }


// .ChapterContainer1,
// .ChapterContainer2,
// .ChapterContainer3 {
//     padding: 5rem;
// }

img {
    max-width: 100%;
    max-height: 70vh;
}

figure {
    margin: 0;
}

.ChapterContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Row {
    display:grid;
    grid-template-columns: minmax(300px, 33%) 1fr;
}

.ChapterContainer2,
.ChapterContainer3 {
    padding: 5rem 10rem;
}


@media screen and (max-width: 786px) {

    // * {
    //      overflow:hidden;  
    // }

    main {
        display: grid;
        grid-template-columns: 3rem 1fr;
    }

    .ChapterContainer {
        padding: 2rem 2rem;
    }

    .nav-change{  
        transform:translate(0%);  
    }

    .ham {
        display: block;  
    }

    .change .bar1 {
        transform: rotate(45deg) translate(8px,3px);  
    }

    .change .bar2 {  
        opacity: 0;
    }

    .change .bar3 {  
        transform: rotate(-45deg) translate(8px,-3px);  
    }

    .nav-sub {  
        position: absolute;
        top: 10vh;
        right: 0px;
        flex-direction: column;
        background-color: rgb(0,0,0,0.75);
        border-radius: 0px 0px 0px 20px;
        transition: transform 0.3s ease-in;
        transform: translate(100%);
    }
    
    .ChapterContainer2 {

    }
}