* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100vw;
}

.ChapterContainer1,
.ChapterContainer2,
.ChapterContainer3 {
    padding: 5rem;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

.ChapterContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    // text-align: center;
}

.Row {
    display: grid;
    grid-template-columns: minmax(200px, 33%) 1fr;
}

@media screen and (max-width: 800px) {

    h1 {
        margin-top: 5vh;
    }
}