#main {
    // margin-top: 20px;
    // width: 60%;
    // flex: 1 1 700px;
    // display: inline-block;
    // height: 100%;
    /* flex-direction: column; */
}

#Main-Vis {
    /* max-height: 50vh; */
    /* position: relative; */
}

#containment {
    // max-height: 20vh;
}

.Chart-Container {
    -moz-transform: translateX(55%);
    -webkit-transform: translateX(55%);
    transform: translateX(55%);
    display: flex;
    flex-direction: row;
    // display: grid;
    // grid-gap: .25rem;
    // grid-template-columns: minmax(50px, 20%) minmax(20px, 80%);
}
