.Chart-Container {
    -moz-transform: translateX(40%);
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
    display: flex;
    flex-direction: row;
    // display: grid;
    // grid-gap: .25rem;
    // grid-template-columns: minmax(50px, 20%) minmax(20px, 80%);
}
