.App {
    background-color: $appDarkColor;
}

#Introduction {
    // display: flex;
    // flex-direction: row;
    height: 100vh;
    background: linear-gradient(150deg, #292049, $appDarkColor);
}

article {
    max-width: 50vw;
}

.lightning {
    position: absolute;
    right: 0;
    top: 3vh;
    max-width: 48vw;
}

@media screen and (max-width: 786px) {

    article {
        max-width: 90vw;
    }

    .lightning {
        max-width: 100%;
        opacity: .5;
    }

    .IntroductionContainer {
        display: flex;
        flex-direction: column;
    }
}
